/* Design grid template */

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header header header'
        'main main main main main main main main'
        'footer footer footer footer footer footer footer footer';
    height: 100vh; /* Makes the grid container take full viewport height */
    width: 100vw;
    grid-template-rows: auto 1fr auto; /* Ensure footer stays at the bottom */
}

.horizontal-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/* Top options section */

/* Search*/ 

.search-icon-div {
    padding-bottom: 2%;
}

.search-options {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 2%;
}

.search-input {
    width: 200px;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'Raleway', 'Ninito Sans';
}

.search-input:hover {
    background-color: whitesmoke;
}

.search-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#select-year-form {
    width: 100%;
    display: flex;
    gap: 20px;
}

#select-year {
    font-family: 'Nunito Sans', 'Raleway';
    padding: 5px;
    background-color: transparent;
}

#select-year:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#select-year option {
    font-family: 'Nunito Sans', 'Raleway';
}


/* Plus icon */

.plus-icon-div {
    padding-bottom: 2%;
}

.plus-icon-text h3 {
    margin: 0px;
    font-weight: 300;
}

/* Buttons */

.button {
    background-color: transparent;
    font-family: 'Raleway', 'Nunito Sans';
    color: black;
    border: 2px solid #C08081;
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 10%;
    cursor: pointer;
    justify-content: center;
}

.button:hover {
    background-color: #C08081;
    color: whitesmoke;
}


.new-schedule, .new-lesson, .new-student, .new-tuition, .new-teacher, .new-salary {
    display: flex;
    background-color: transparent;
    border: none;
    height: auto;
    padding: 0px;
}

.edit-stdnts-btn {
    white-space: nowrap;
    width: auto;
    margin: 10px auto;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #C08081;
    background-color: white;
    font-family: 'Raleway', 'Nunito Sans';
}

.edit-stdnts-btn:hover {
    cursor: pointer;
    background-color: #C08081;
    color: whitesmoke;
}

.change-buttons[hidden] {
    display:none !important;
}

.change-buttons {
    background-color: #FFFFF0;
    border: none;
}

.change-buttons-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}


.user-btn, .lang-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    padding: 10px;
    margin-right: 30px;
}

.user-icon, .translate-icon {
    background-color: transparent;
}

.user-icon:hover {
    fill: lightgoldenrodyellow;
}

#plus-icon-btn {
    background-color: transparent;
}

#plus-icon-btn:hover {
    cursor: pointer;
    fill: lightgreen;
}


#select-date, #select-school-year, #select-month-en,  #select-month-pt, #select-student, #select-teacher {
    border-radius: 5px;
    padding: 5px;
    font-size: small;
    cursor: pointer;
}

/*#confirm-edit, #cancel-edit {
    display: flex;
    color: black;
    align-self: center;
    box-sizing: border-box;
    flex-shrink: 1;
    flex-grow: 1;
}*/

.cancel-delete:hover {
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgoldenrodyellow;
    color: black;
}

.confirm-delete:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.75);
    border: 1px solid rgba(255, 0, 0, 0.75);
    color: whitesmoke;
}

#language:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);;
    color: whitesmoke;
}

/* Header organization */

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C08081;
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    /*gap: 20px;*/
}

/* Header items design */

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 5%;*/
}

.nav-item {
    margin-right: 2%;
    font-family: "Raleway";
    /*font-family: "Impact Regular";*/
    font-size: 150%;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-link:hover {
    color: lightgoldenrodyellow;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.active-tab {
    /*color: #002E74;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid 2px goldenrod;
    border-top: solid 2px goldenrod;
    border-radius: 30%;
    /*color:rgb(62, 76, 115);*/
}

.user, .translation {
    font-family: 'Raleway', 'Nunito Sans, Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: medium;
}



/* Main design */

.main {
    grid-area: main;
    background-color: #FFFFF0;
    padding: 2%;
    font-family: "Nunito Sans";
}

.title-container {
    padding-left: 5%;
}

.title {
    align-items: center;
    border-left: solid 2px goldenrod;
    border-right: solid 2px goldenrod;
    padding: 5px;
}

.no-info-title {
    font-weight: 200;
}

.top-options {
    border-bottom: solid 3px goldenrod;
    padding-left: 5%;
}

.footer {
    grid-area: footer;
    background-color: #FFFFF0;
    display:flex;
    justify-content: center;
    margin: 0px;
    padding-top: 10%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: 'Ninito Sans';
}

body {
    width: 100%;
    margin: 0px;
    color: black;
}


/* Homepage */ 

#homepage {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

#index_buttons {
    text-align: center;
    font-size: 30px;
}


#login-welcome {
    text-align: center;
    color: black;
    font-weight:bolder;
    font-size: 200%;
    border-bottom: solid 3px goldenrod;
}

.shortcuts-container {
    display: flex;
    justify-content: space-around;
    width:100%;
}

.shortcut-btn {
    padding: 2%;
    border-bottom: solid 2px goldenrod;
    border-top: solid 2px goldenrod;
    border-radius: 30%;
    background-color: #E6E6FA; 
    color: black;
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}

.shortcut-btn:hover {
    background-color: #4682B4;
    color: whitesmoke;
}

.login-form {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.login-id, .login-password {
    margin: 5px;
    font-size: large;
}

/* TABLES */

table {
    table-layout: auto;
    width: 100%;
    padding: 2% 5% 5% 5%;
}


.students-cell, .students-th {
    min-width: 150px;
}

th, td {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    width: auto;
    white-space: nowrap;
}

th {
    font-size: larger;
    background-color: #C08081;
    color: whitesmoke;
}


tbody {
    background-color: whitesmoke;
}

tbody:hover {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* INPUT tags */

.input-short {
    width: 50%;
}

.input-long {
    width: 90%;
}

td:has(ul .input-short) {
    max-width: 20%;
    min-width: fit-content;
}

td:has(ul .input-long) {
    max-width: 90%;
    min-width: fit-content;
}

/* Edit buttons */

.edit-stdnts-container {
    display: flex;
    justify-content: center;
}

.comp-container {
    width: 100%;
}

.add-comp {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.comp-btn {
    font-family: 'Raleway', 'Ninito Sans';
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
}

.comp-btn:hover {
    background-color: rgb(233, 231, 231);
    cursor: pointer;
}

/* Edit icons */

.edit {
    width: 150px;
    border: none;
    background-color: #FFFFF0;
    text-align: left;
}

.edit:hover {
    background-color: #FFFFF0;
    cursor: default;
}

.edit-btn, .delete-btn, .check-btn, .cross-btn, .eye-btn, .hide-eye-btn, .add-btn, .remove-btn {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.disabled-btn {
    background-color: transparent;
    border: 0px;
}

.search-btn {
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

.edit-btn:hover, .delete-btn:hover, .check-btn:hover, .cross-btn:hover, .eye-btn:hover, .hide-eye-btn:hover {
    opacity: 1;
    background-color: transparent;
}

.pencil, .bin, .check, .cross, .eye, .eye-slash, .stdnt-plus, .stdnt-less {
    background-color: transparent;
    cursor: pointer;
}

.pencil:hover {
    background-color: transparent;
    fill: goldenrod;
}

.eye:hover, .eye-slash:hover {
    fill: #C08081;
}

.bin:hover {
    fill: rgba(255, 0, 0, 0.75);
}

.check:hover, .stdnt-plus:hover {
    fill: green;
}

.cross:hover, .stdnt-less:hover  {
    fill: red;
}


/* Modal general design */ 

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal { 
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 5px solid #E6E6FA;
    padding: 5px;
    width: auto;
}

.vertical-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Specific modals */

.center-modal {
    position: fixed;
    background-color: #FFFFF0;
    border-radius: 5px;
    border: 2px solid goldenrod;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
}

/* Modal buttons */

.center-modal-btns, .new-info-modal-btns {
    display: flex;
    justify-content: center;
}

.modal-btn, .new-info-btn {
    font-family: 'Raleway', 'Nunito Sans,';
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: transparent;
    border: 1px solid goldenrod;
}

.modal-btn:hover {
    cursor: pointer;
    border: 1px solid #E6E6FA;
    background-color: #E6E6FA;
}



/* User modal */

.user-modal {
    position: fixed;
    top: 15%;
    right: 2px;
    border: 1px solid #C08081;
    border-radius: 2px;
    height: 100px;
    width: 200px;
}

.user-content {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 5px;
}

.user-options {
    display: flex;
    flex-direction: column;
}

.user-options span{
    padding: 5px;
}

.user-exit {
    align-self: flex-end;
    font-weight: bold;
    color: black;
}

.exit-x:hover {
    fill: rgb(154, 154, 154);
    cursor: pointer;
}

.earth, .logout-icon {
    padding-right: 10px;
}

#logout {
    text-decoration: none;
    color: black;
}

#logout:hover {
    color: goldenrod;
    cursor: pointer;
}


/* Confirm payment modal */

.confirm-payment-modal {
    background-color: whitesmoke;
    border: 1px solid rgb(21, 29, 22);
    width: 400px;
    height: 300px;
}

.confirm-payment-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.confirm-payment-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.confirm-payment-buttons {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.payment-modal-btn {
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.203);
    border: 1px solid rgba(0, 0, 0, 0.525);
    border-radius: 2px;
    font-family: 'Raleway', 'Ninito Sans';
}

.payment-modal-btn:hover{
    background-color: #FFFFF0;
    cursor: pointer;
}

.payment-date-input {
    border-radius: 5px;
    border: 1px solid rgba(181, 181, 181, 0.564);
    padding: 5px 0px 5px 5px;
    cursor: pointer;
    width: 100%;
}

/* Search modal */

/* .search-year-modal {
    background-color: rgba(245, 245, 245, 0.582);
    border: 1px solid goldenrod;
    position: relative;
    flex-direction: row;
    padding: 20px 10px 20px 10px;
    width: 250px;
}

.search-year-content {
    display: flex;
    width: 100%;
    justify-content: center;
}*/


/*#see-schedule {
    color: whitesmoke;
    font-size: medium;
    border: 1px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
}

#see-schedule:hover {
    background-color: rgb(216, 180, 88);
}*/

/* Delete modal */

.delete-modal {
    border: 2px solid rgb(41, 0, 0);
    background-color: #2a2a2af8;
    color: whitesmoke;
}

.delete-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100 !important;
}

.delete-btns {
    justify-content: center;
}

.delete-modal-btn {
    font-family: 'Raleway', 'Nunito Sans';
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.516);
    border-radius: 2px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

/* New info modal */

.new-info-modal {
    position: fixed;
    max-width: 95%;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid #7474a6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    margin: 20px;
}

.new-info-content {
    overflow-x: scroll;
    padding: 10px;
}

.new-info-form {
    width: 100%;
}

.new-info-table {
    width: 100%;
    table-layout: auto;
    padding: 0% 0% 5% 0%;
}

.new-info-table th {
    background-color: #E6E6FA;
    color: black;
}

.new-info-table tr:hover {
    background-color: whitesmoke;
}

.select-students-btn {
    white-space: nowrap;
    width: auto;
    margin: 10px auto;
    padding: 5%;
    box-sizing:border-box;
    border: 1px solid #7474a6;
    background-color: white;
    font-family: 'Raleway', 'Nunito Sans';
}

.select-students-btn:hover {
    cursor: pointer;
    background-color: #E6E6FA;
}

.new-info-btn {
    border: 1px solid #7474a6;
}

.new-info-btn:hover {
    background-color: #7474a6;
    color: whitesmoke;
    cursor: pointer;
}

/* Select students modal */

.select-students-modal {
    background-color: whitesmoke;
    border: 2px solid #7474a6;
}

.students-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 20px;
    margin: 20% auto;
}

.student-name {
    font-size: medium;
}

.student-name input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.students-btns-container {
    display: flex;
    justify-content: space-evenly;
}

.select-students-modal-btn {
    padding: 5%;
    font-family: 'Raleway', 'Nunito Sans';
    background-color: transparent;
    border: 1px solid #7474a6;
}

.select-students-modal-btn:hover {
    background-color: #7474a6;
    color: whitesmoke;
    cursor: pointer;
}

/* Edit students modal*/

.edit-students-modal {
    width: 100%;
    max-width: 800px;
    border: 2px solid #C08081;
}

.edit-students-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.students-modal-header {
    display: flex;
    border-bottom: 1px solid #C08081;
    align-items: center;
    justify-content: center;
    color: #C08081;
}

.students-modal-body {
    padding-top: 10%;    
}

.students-modal-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-item {
    display: flex;
    align-items: center;
    padding: 1%;
}

.students-modal-button {
    padding: 5%;
    margin: 10px;
    width: 80%;
    align-self: center;
    color: black;
    background-color: transparent;
    border: 1px solid #C08081;
    font-family: 'Raleway', 'Nunito Sans';
}

.students-modal-button:hover {
    cursor: pointer;
    background-color: #C08081;
    border: 1px solid #C08081;
    color: whitesmoke;
}



/* Schedule modal (lessons.html / selected-lessons.html) */

.schedule-modal {
    background-color: #FFFFF0;
    border: solid 1px gold;
    display: none;
    color: black;
    font-size: small;
    max-height: 90%;
    width: 80%;
    overflow-y: scroll;
    padding: 0%;
}

.schedule-modal-content {
    padding: 5px;
}

.select-schedule-table {
    border-spacing: 0px;
}


.select-schedule-table th {
    background-color: goldenrod;
    border-right: none;
}

.select-schedule-table td {
    background-color: whitesmoke;
    border-right: none;
}

.select-schedule-table tbody:hover {
    background-color: lightgoldenrodyellow;
}

tbody:hover {
    background-color: lightgoldenrodyellow;
}

.select-btn-td {
    background-color: #FFFFF0 !important;
    border: none;
    border-left: 1px solid gray;
}

.select-btn-td:hover {
    background-color: #FFFFF0;
}

.select-schedule-btn {
    background-color: transparent;
    border: 1px solid goldenrod;
    padding: 10%;
}

.select-schedule-btn:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: whitesmoke;
}

/* fallout lists */

.fallout {
    font-family: 'Raleway', 'Nunito Sans';
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

