{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block main %}

    {% if logged_in %}
        <div id = login-welcome>
            <h1 translation-key="welcome"> WELCOME </h1>
            <h2>{{ user.name }}</h2>
        </div>

        <br>

        <div id = today>
            {% if user.role == "teacher" %}
                <span class="lang-pt title-container" hidden>
                    <h2 class="title"> Este é o horário para hoje </h2>
                </span>
                <span class="lang-en title-container">
                    <h2 class="title"> This is your schedule for today </h2>
                </span>
                
                {% if classes_data %}
        
                    <table class ="table">
                        <thead>
                            <tr>
                                <th translation-key="class"> Class </th>
                                <th translation-key="start_time"> Start Time </th>
                                <th translation-key="students"> Students </th>
                                <th translation-key="duration"> Duration </th>
                                <th translation-key="classroom"> Classroom </th>
                            </tr>
                        </thead>
                        {% for item in classes_data %}
                            <tbody>
                                <td translation-key="{{ item.name | lower }}">
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.class.hour_formatted }}
                                </td>
                                <td>
                                    <ul>
                                        {% for student in item.students %}
                                            <li>
                                                {{ student.user.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ item.class.duration }} min
                                </td>
                                <td>
                                    {{ item.class.classroom }}
                                </td>
                            </tbody>
                        {% endfor %}
                    </table>
                    
                {% else %}
                    <span class="lang-pt title-container" hidden>
                        <h4 class="no-info-title"> Não tem aulas agendadas para hoje. </h4>
                    </span>
                    <span class="lang-en title-container">
                        <h4 class="no-info-title"> You have no classes today. </h4>
                    </span> 
                    
                {% endif %}

            {% elif user.role == "student" %}
                <span class="lang-pt title-container" hidden>
                    <h2 class="title"> Este é o teu horário para hoje </h2>
                </span>
                <span class="lang-en title-container">
                    <h2 class="title"> This is your schedule for today </h2>
                </span>

                {% if classes_data %}
      
                    <table class ="table">
                        <thead>
                            <tr>
                                <th translation-key="class"> Class </th>
                                <th translation-key="start_time"> Start Time </th>
                                <th translation-key="teacher"> Teacher </th>
                                <th translation-key="duration"> Duration </th>
                                <th translation-key="classroom"> Classroom </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in classes_data %}
                                <td translation-key="{{ item.name | lower }}">
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.class.hour_formatted }}
                                </td>
                                <td>
                                    {{ item.teacher }}
                                </td>
                                <td>
                                    {{ item.class.duration }} min
                                </td>
                                <td>
                                    {{ item.class.classroom }}
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                {% else %}
                    <span class="lang-pt title-container" hidden>
                        <h4 class="no-info-title"> Não tens aulas agendadas para hoje. </h4>
                    </span>
                    <span class="lang-en title-container">
                        <h4 class="no-info-title"> You have no classes today. </h4>
                    </span> 

                {% endif %}

            {% else %}
                <span class="lang-pt title-container" hidden>
                    <h2 class="title"> Horário para hoje </h2>
                </span>
                <span class="lang-en title-container">
                    <h2 class="title"> Today's schedule </h2>
                </span> 

                {% if classes_data %}
                    <table class ="table">
                        <thead>
                            <tr>
                                <th translation-key="class"> Class </th>
                                <th translation-key="start_time"> Start Time </th>
                                <th translation-key="teacher"> Teacher </th>
                                <th translation-key="student"> Student </th>
                                <th translation-key="duration"> Duration </th>
                                <th translation-key="classroom"> Classroom </th>
                            </tr>
                        </thead>
                        {% for item in classes_data %}
                            <tbody>
                                <td translation-key="{{ item.name | lower }}">
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.class.hour_formatted }}
                                </td>
                                <td>
                                    {{ item.teacher }}
                                </td>
                                <td>
                                    <ul>
                                        {% for student in item.students %}
                                            <li>
                                                {{ student.user.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ item.class.duration }} min
                                </td>
                                <td>
                                    {{ item.class.classroom }}
                                </td>
                            </tbody>
                        {% endfor %}
                    </table>
                
                {% else %}
                    <span class="lang-pt title-container" hidden>
                        <h4 class="no-info-title"> Não há aulas agendadas para hoje. </h4>
                    </span>
                    <span class="lang-en title-container">
                        <h4 class="no-info-title"> There are no classes today. </h4>
                    </span> 
                    
                    <br>
                    <br>
                    
                {% endif %}

                <span class="lang-pt" hidden>
                    <div class="shortcuts-container">
                        <a href="/lessons" class="shortcut-btn"> FALTAS E PRESENÇAS </a>
                        <a href="/tuitions" class="shortcut-btn"> CONSULTAR MENSALIDADES </a>
                        <a href="/salaries" class="shortcut-btn"> CONSULTAR SALÁRIOS </a> 
                    </div>
                </span>
                <span class="lang-en">
                    <div class="shortcuts-container">
                        <a href="/lessons" class="shortcut-btn"> CHECK ATTENDENCES </a>
                        <a href="/tuitions" class="shortcut-btn"> CHECK TUITIONS </a>
                        <a href="/salaries" class="shortcut-btn"> CHECK SALARIES </a> 
                    </div>
                </span>

            {% endif %}

        </div>

    {% else %}
        <div class = "homepage"> 
            <div class="homepage-container">
                <span class="lang-en homepage-text">
                    <h1> Internal Management App </h1>
                </span> 
                <span class="lang-pt homepage-text" hidden>
                    <h1> Software de Gestão Interna </h1>
                </span>
            </div>
        </div>
        <div class="index-buttons">
            <a class="index-btn" href="/register" translation-key="register">REGISTER</a>
            <a class="index-btn" href="/login" translation-key="login">LOGIN</a>
        </div>
    {% endif %}

{% endblock %}
