<!DOCTYPE html>

<html lang="en"> <!-- default language -->

    <head>
        <!-- copy-pasted. I guess this is the norm -->
        <meta charset="utf=8">
        <meta name="viewport" content="initial-scale=1, width=device-width"> 

        <!-- link to personal stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- links to google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- "Raleway" font-family -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- "Nunito Sans" font-family-->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
        
        <title> Sofia's School: {% block title %}{% endblock %} </title>

    </head>

    <body>
        <div class="grid-container">
            
            <div class="header">
                {% if user %}
                    <div class="navbar"> 
                        <div class="nav-icon">
                            <a href="/"> <img src="/static/SS_logo.png" width="200" height="180"> </a>
                        </div>

                        <ul class="nav-items">
                            {% if user.role == "teacher" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/schedules" translation-key="schedules">Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/lessons" translation-key="lessons">Lessons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/salaries" translation-key="salaries">Salaries</a>
                                </li>

                            {% elif user.role == "student" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/schedules" translation-key="schedules">Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/lessons" translation-key="lessons">Lessons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/tuitions" translation-key="tuitions">Tuitions</a>
                                </li>

                            {% elif user.role == "admin" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/schedules" translation-key="schedules">Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/lessons" translation-key="lessons">Lessons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/teachers" translation-key="teachers">Teachers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/students" translation-key="students">Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/tuitions" translation-key="tuitions">Tuitions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/salaries" translation-key="salaries">Salaries</a>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                    <div class="right">

                        <div class="nav-item user">
                            <button class="user-btn" onclick="displayModal(this.closest('div'))"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="user-icon" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                </svg>
                            </button>
                
                            <div class="modal-overlay user-overlay"> 
                                <div class="modal user-modal">
                                    <div class="modal-content user-content">
                                        <span class="exit user-exit"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="exit-x" viewBox="0 0 16 16">
                                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                            </svg> 
                                        </span>
                                        <div class="options user-options">
                                            <span> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="logout-icon" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                                  </svg>
                                                <a href="/logout" id="logout" translation-key="logout">Logout</a>
                                            </span>
                                            <span> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="earth" viewBox="0 0 16 16">
                                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                                </svg>
                                             
                                                <select class="fallout language" aria-label="Choose language" onchange="switchLang(this.value)">
                                                    <option disabled selected></option>
                                                    <option value="en">English</option>
                                                    <option value="pt">Português</option>
                                                </select> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar"> 
                        <div class="nav-icon">
                            <a href="/"> <img src="/static/SS_logo.png" width="200" height="180"> </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="nav-item translation">
                            <button class="lang-btn" onclick="displayModal(this.closest('div'))"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="translate-icon" viewBox="0 0 16 16">
                                    <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                                    <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                                  </svg>
                            </button>
                            <div class="modal-overlay lang-overlay"> 
                                <div class="modal lang-modal">
                                    <div class="modal-content lang-content">
                                        <div class="options lang-options">
                                            <span> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="earth" viewBox="0 0 16 16">
                                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                                </svg>
                                                <select class="fallout language" aria-label="Choose language" onchange="switchLang(this.value)">
                                                    <option disabled selected></option>
                                                    <option value="en">English</option>
                                                    <option value="pt">Português</option>
                                                </select> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="main">
                {% block main %}
                {% endblock %}
            </div>
            
            <div class="footer"> 
                <div class="footer-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="copyright" viewBox="0 0 16 16">
                        <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
                    </svg>
                    <h5>sofiarodrigues_pianist</h5>
                </div>
            </div>

            <script>

                // Change active tab
                document.addEventListener('DOMContentLoaded', () => {
                    // Get the current path from the URL
                    const currentPath = window.location.pathname;
                    console.log("currentPath:", currentPath);
                    // Get all nav-link elements
                    const navLinks = document.querySelectorAll('.nav-link');

                    navLinks.forEach(link => {
                        // Check if the href matches the current path
                        if (link.getAttribute('href') === currentPath) {
                            // Add 'active-tab'
                            link.classList.add('active-tab');
                            console.log("navLink match");
                        } else {
                            // Remove 'active-tab' if it exists
                            link.classList.remove('active-tab');
                        }
                    });
                });

                // adapted from W3Schools
                function displayModal(parentDiv) {
                    let overlay = parentDiv.querySelector(".modal-overlay");
                    let modal = parentDiv.querySelector(".modal");
                    let exit = modal.querySelector(".exit");

                    overlay.style.display="block";
                    modal.style.display="block";

                    if (exit) {
                        exit.onclick = function() {
                            overlay.style.display="none";
                            modal.style.display="none";
                        }
                    }
                  
                    overlay.onclick = function(event) {
                        if(event.target == overlay) {
                            modal.style.display="none";
                            overlay.style.display="none";
                        }
                    }
                };
                
                // Save language preference
                function saveLanguage(lang) {
                    console.log("saveLanguage function activated");

                    localStorage.setItem("selectedLanguage", lang);
                    console.log("storage language:", lang)
                    
                    document.querySelector(".language").value = lang;

                    overlay = document.querySelector(".modal-overlay");
                    modal = document.querySelector(".modal");
                    langForm = document.querySelector(".saved-lang-input-form");

                    if (overlay && modal) {
                        overlay.style.display="none";
                        modal.style.display="none";
                    }

                    if (langForm) {
                        langForm.value = lang;
                    }
                }

                window.onload = function() {
                    let savedLang = localStorage.getItem("selectedLanguage");
                    console.log("saved language:", savedLang)
                     
                    if (savedLang) {
                        document.querySelector(".language").value = savedLang;
                        let langForm = document.querySelector(".saved-lang-input-form")
                        if (langForm) {
                            langForm.value = savedLang; 
                        }
                        
                        switchLang(savedLang);
                        console.log("after switch lang call");
                    }
                }

                // Change page language
                function switchLang(lang) {

                    const translations = {
                        en: {
                            welcome:"WELCOME",
                            login:"LOGIN",
                            logout:"Logout",
                            register:"REGISTER",
                            language:"Language",
                            check:"Check",
                            cancel:"Cancel",
                            create:"Create",
                            confirm:"Confirm",
                            save:"Save",
                            add:"Add",
                            delete:"Delete",
                            search:"Search",
                            select:"Select",
                            see_schedule:"See Schedule",
                            active:"Active",
                            inactive:"Inactive",
                            monday:"Monday",
                            tuesday:"Tuesday",
                            wednesday:"Wednesday",
                            thursday:"Thursday",
                            friday:"Friday",
                            saturday:"Saturday",
                            class: "Class",
                            lesson: "Lesson",
                            lessons: "Lessons",
                            schedule: "Schedule",
                            schedules: "Schedules",
                            teacher: "Teacher",
                            teachers:"Teachers",
                            student: "Student",
                            students: "Students",
                            classroom: "Classroom",
                            start_time: "Start Time",
                            duration: "Duration",
                            tuition:"Tuition",
                            tuitions:"Tuitions",
                            fee:"Fee",
                            salary:"Salary",
                            salaries:"Salaries",
                            weekday:"Weekday",
                            month:"Month",
                            monthly:"Monthly",
                            payment: "Payment",
                            payment_date: "Payment date",
                            enrollment: "Enrollment",
                            school_year:"School Year",
                            date: "Date",
                            first_lesson:"First Lesson",
                            name:"Name",
                            age:"Age",
                            contacts:"Contacts",
                            phone:"Phone",
                            course:"Course",
                            instrument:"Instrument",
                            musical_expression:"Musical Expression",
                            piano:"Piano",
                            saxophone:"Saxophone",
                            jazz_guitar:"Jazz Guitar",
                            guitar:"Guitar",
                            violin:"Violin",
                            cello:"Cello",
                            trumpet:"Trumpet",
                            drums:"Drums",
                            voice:"Voice",
                            combo:"Combo",
                            group_class:"Group Class",
                            music_production:"Music Production",
                            mini_musician:"Mini-Musician",
                            sociable_mini_musician:"Sociable Mini-Musician",
                            musician:"Musician",
                            semi_musician:"Semi-Musician",
                            instrumentalist:"Instrumentalist",
                            semi_instrumentalist:"Semi-Instrumentalist",
                            sociable_instrumentalist:"Sociable Instrumentalist"
                        },

                        pt: {
                            welcome:"BEM-VINDO",
                            login:"INICIAR SESSÃO",
                            logout:"Terminar sessão",
                            register:"REGISTAR",
                            language:"Idioma",
                            check:"Consultar",
                            cancel:"Cancelar",
                            create:"Criar",
                            confirm:"Confirmar",
                            save:"Guardar",
                            add:"Adicionar",
                            delete:"Eliminar",
                            search:"Pesquisar",
                            select:"Selecionar",
                            see_schedule:"Ver horário",
                            monday:"Segunda-feira",
                            tuesday:"Terça-feira",
                            wednesday:"Quarta-feira",
                            thursday:"Quinta-feira",
                            friday:"Sexta-feira",
                            saturday:"Sábado",
                            active:"Activo",
                            inactive:"Inactivo",
                            class: "Aula",
                            lesson: "Aula",
                            lessons: "Aulas",
                            schedule: "Horário",
                            schedules: "Horários",
                            teacher: "Professor",
                            teachers:"Professores",
                            student: "Aluno",
                            students: "Alunos",
                            classroom: "Sala",
                            start_time: "Hora de início",
                            duration: "Duração",
                            tuition:"Mensalidade",
                            tuitions:"Mensalidades",
                            fee:"Valor",
                            salary:"Salário",
                            salaries:"Salários",
                            weekday:"Dia da semana",
                            month:"Mês",
                            monthly:"Mensal",
                            payment: "Pagamento",
                            payment_date: "Data de Pagamento",
                            enrollment: "Matrícula",
                            school_year:"Ano Letivo",
                            date:"Data",
                            first_lesson:"Primeira Aula",
                            name:"Nome",
                            age:"Idade",
                            contacts:"Contactos",
                            phone:"Telemóvel",
                            course:"Curso",
                            instrument:"Instrumento",
                            musical_expression:"Expressão Musical",
                            piano:"Piano",
                            saxophone:"Saxofone",
                            jazz_guitar:"Guitarra Jazz",
                            guitar:"Guitarra",
                            violin:"Violino",
                            cello:"Violoncelo",
                            trumpet:"Trompete",
                            drums:"Bateria",
                            voice:"Canto",
                            combo:"Combo",
                            group_class:"Aula de Grupo",
                            music_production:"Produção Musical",
                            mini_musician:"Mini-Músico",
                            sociable_mini_musician:"Mini-Músico Sociável",
                            musician:"Músico",
                            semi_musician:"Semi-Músico",
                            instrumentalist:"Instrumentista",
                            semi_instrumentalist:"Semi-Instrumentista",
                            sociable_instrumentalist:"Instrumentista Sociável"
                        }
                    };

                    // Spans for manually translated sentences 
                    let ptSpans = document.querySelectorAll(".lang-pt");
                    let enSpans = document.querySelectorAll(".lang-en");
                 
                    // Dictionary translation
                    let keys = document.querySelectorAll("[translation-key]");

                    if (lang == "pt") {
                        ptSpans.forEach(function(span) {
                            span.hidden = false;
                            span.required = true;
                            span.style.display = "flex";
                        })
                        enSpans.forEach(function(span) {
                            span.hidden = true;
                            span.required = false;
                            span.style.display="none";
                        })

                        keys.forEach(function(element) {
                            let key = element.getAttribute("translation-key").toLowerCase();
                            // Replace whitespace with underscore
                            if (key.includes(" ")) {
                                key = key.replace(" ", "_");
                            }
                            
                            // Translate using key from dictionary || if translation not found, display key
                            element.textContent = translations[lang][key] || element.textContent;
                        })
                   
                    }
                    else if (lang == "en") {
                        ptSpans.forEach(function(span) {
                            span.hidden = true;
                            span.required = false;
                            span.style.display="none";
                        })
                        enSpans.forEach(function(span) {
                            span.hidden = false;
                            span.required = true;
                            span.style.display = "flex";
                        })

                        keys.forEach(function(element) {
                            let key = element.getAttribute("translation-key").toLowerCase();

                            if (key.includes(" ")) {
                                key = key.replace(" ", "_");
                            }
                            // Translate using key from dictionary || if translation not found, display key
                            element.textContent = translations [lang][key] || element.textContent;
                        })
                    }

                    saveLanguage(lang);
        
                }

            </script>

        </div>
    </body>

</html>