{% extends "layout.html" %}

{% block title %}
    Selected Schedules
{% endblock %}

{% block main %}

    <div>
        <div class="top-options">
            <span id="search-icon">
                <div class="horizontal-elements">
                    <button class="search-btn" onclick="scheduleModal(this.closest('span'))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg> 
                    </button> 
                    <h3 translation-key="search"> Search </h3>
                </div>
                <div class="modal-overlay search-year-overlay">
                    <div class="modal search-year-modal">
                        <div class="modal-content search-year-content">
                            <form action="/schedules" method="post">
                                <select id="select-year" name="school_year" required> 
                                    <option value="" disabled selected translation-key="school_year"> School year </option>
                                    <option value="2324"> 2023/2024 </option>
                                    <option value="2425"> 2024/2025 </option>
                                </select>
                                <button type="submit" class="button" id="see-schedule" translation-key="see_schedule"> See schedule </button>
                            </form>
                        </div>
                    </div>  
                </div>
            </span>
            <!--
            <div id="select-year">
                <form action="/schedules" method="post">
                    <select id="select-year" name="school_year" required> 
                        <option value="" disabled selected translation-key="school_year"> School year </option>
                        <option value="2324"> 2023/2024 </option>
                        <option value="2425"> 2024/2025 </option>
                    </select>
                    <button type="submit" class="button" id="see-schedule" translation-key="see_schedule"> See schedule </button>
                </form>
            </div> -->
        </div>
        
        <br>

        {% if classes_data %}
            <span class="lang-pt title-container" hidden>
                <h2 class="title"> Último horário de {{ school_year }} </h2>
            </span>
            <span class="lang-en title-container">
                <h2 class="title"> Latest Schedule on {{ school_year }} </h2>
            </span>
            
            {% if user.role == "teacher" %}
                <table class ="table">
                    <thead>
                        <tr>
                            <th translation-key="weekday"> Weekday </th>
                            <th translation-key="start_time"> Start Time </th>
                            <th translation-key="class"> Class </th>
                            <th translation-key="students"> Students </th>
                            <th translation-key="duration"> Duration </th>
                            <th translation-key="classroom"> Classroom </th>
                        </tr>
                    </thead>

                    {% for item in classes_data %}
                        <tbody>
                            <td translation-key="{{ item.weekday | lower }}">
                                {{ item.weekday }}
                            </td>
                            <td>
                                {{ item.class.hour_formatted }}
                            </td>
                            <td translation-key="{{ item.class.name | lower }}">
                                {{ item.class.name }}
                            </td>
                            <td>
                                <ul>
                                    {% for student in item.students %}
                                        <li>
                                            {{ student.user.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ item.class.duration }} min
                            </td>
                            <td>
                                {{ item.class.classroom }}
                            </td>
                        </tbody>
                    {% endfor %}
                </table>

            {% elif user.role == "student" %}
                <table class ="table">
                    <thead>
                        <tr>
                            <th translation-key="class"> Class </th>
                            <th translation-key="start_time"> Start Time </th>
                            <th translation-key="teacher"> Teacher </th>
                            <th translation-key="duration"> Duration </th>
                            <th translation-key="classroom"> Classroom </th>
                        </tr>
                    </thead>

                    {% for item in classes_data %}
                        <tbody>
                            <td>
                                {{ item.class.name }}
                            </td>
                            <td>
                                {{ item.class.hour_formatted }}
                            </td>
                            <td>
                                {{ item.teacher[0] }}
                            </td>
                            <td>
                                {{ item.class.duration }} min
                            </td>
                            <td>
                                {{ item.class.classroom }}
                            </td>
                        </tbody>
                    {% endfor %}
                </table>

            {% else %}
                <table class ="table">
                    <thead>
                        <tr>
                            <th translation-key="weekday"> Weekday </th>
                            <th translation-key="start_time"> Start Time </th>
                            <th translation-key="class"> Class </th>
                            <th translation-key="teacher"> Teacher </th>
                            <th translation-key="students"> Students </th>
                            <th translation-key="duration"> Duration </th>
                            <th translation-key="classroom"> Classroom </th>
                        </tr>
                    </thead>

                    {% for item in classes_data %}
                        <tbody>
                            <td translation-key="{{ item.weekday | lower }}">
                                {{ item.weekday }}
                            </td>
                            <td>
                                {{ item.class.hour_formatted }}
                            </td>
                            <td translation-key="{{ item.class.name | lower }}">
                                {{ item.class.name }}
                            </td>
                            <td>
                                {{ item.teacher[0] }}
                            </td>
                            <td>
                                <ul>
                                    {% for student in item.students %}
                                        <li>
                                            {{ student.user.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ item.class.duration }} min
                            </td>
                            <td>
                                {{ item.class.classroom }}
                            </td>
                        </tbody>
                    {% endfor %}
                </table>

            {% endif %}

        {% else %}
            <span class="lang-en">
                <h3> There is no schedule data for this year </h3>
            </span>
            <span class="lang-pt" hidden>
                <h3> Não há informação de horário para este ano </h3>
            </span>

        {% endif %}
    </div>
    
    <script>
        // Display search modal
        function scheduleModal(spanTag) {
            let overlay = spanTag.querySelector(".search-year-overlay");
            let modal = spanTag.querySelector(".search-year-modal");

            overlay.style.display="block";
            modal.style.display="block";

            overlay.onclick = function(event) {
                if (event.target == overlay) {
                    modal.style.display = "none";
                    overlay.style.display = "none";
                } 
            };
        }
    </script>

    
{% endblock %}
